//This file contains setup styles for generals and basics

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  // padding: 30px 10%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  // background: linear-gradient(
  //   to bottom,
  //   $white 0px,
  //   $white 600px,
  //   $neutral_White 600px,
  //   $neutral_White 1440px
  // );
}

input {
  outline: none;
}

// @include media(mobile) {
//   body {
//     padding: 0;
//   }
// }
