@import "../../../assets/scss/main.scss";
.container {
  color: $white;
  font: inherit;
  font-weight: 700;
  background-color: $primary_Cyan;
  border: none;

  width: 100%;
  cursor: pointer;
  transition: all 1s;
  &:hover {
    opacity: 0.7;
  }
}

.roundedShape {
  border-radius: 10px;
}
.fullyRoundedShape {
  border-radius: 30px;
}

.active {
  background-color: $neutral_Dark_Violet;
}

.sm {
  padding: 10px 20px;
}

.lg {
  padding: 15px 20px;
}
