@import "../../assets/scss/main.scss";
.upperContainer {
  background-color: $white;
  margin-bottom: 100px;
}
.lowerContainer {
  background-color: $neutral_White;
  .linksContainer {
    overflow: hidden;
    max-height: 600px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .StatisticContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titleContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        color: $neutral_Grayish;
        margin-top: 30px;
        max-width: 450px;
        text-align: center;
      }
    }

    .cardContainer {
      margin: 100px 20%;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        border: 4px solid $neutral_Dark_Blue;
        width: 90%;
        top: 50%;

        z-index: -1;
      }
    }
  }
}

@include media(tablet) {
  .cardContainer {
    flex-direction: column;
    margin: 30% 20%;
    position: relative;
    z-index: 1;
    // align-items: center;
    &:after {
      content: "";
      position: absolute;
      border: 4px solid $neutral_Dark_Blue;
      width: 100%;

      right: 0;
      transform: rotate(90deg);
      z-index: -1;
    }
  }
}
