@import "../../../assets/scss/main.scss";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  background-color: $white;
  padding: 30px 20px;
  img {
    width: 40px;
    position: absolute;
    transform: translateY(-90%);
    background-color: $neutral_Dark_Blue;
    border-radius: 50%;
    padding: 20px;
    display: block;
  }
  h4 {
    margin-top: 30px;
  }
  p {
    margin-top: 10px;
    color: $neutral_Grayish;
  }
  width: 40%;
  // max-width: 20%;
  &:not(:last-child) {
    margin-right: 5%;
  }
}

@include media(tablet) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15%;
  }
}
